<section class="card bg-light border-light my-5 mx-auto p-3" style="max-width: 45rem">
  <div class="card-body mb-1">
<h2 class="display-4">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control rounded-0 border-dark bg-light' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control rounded-0 border-dark bg-light' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
    <div class="form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-lg rounded-0 btn-outline-dark mb-4" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</section>