<%= form_with(model: route, id: 'routeForm') do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

<div class="field">
<%= form.label :picture_url %>
<%= form.file_field :picture_url %>
<% end %>

<p>Places</p>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<button type="button" id="add-marker">Add place to route</button>

<div id="places"></div>
<button type="button" id="submit-form">Create route</button>

<div id="map"></div>

