<p id="notice"><%= notice %></p>
<h1 class="display-2 pl-5" ><u>Routes</u></h1>
<div class="row lead">
  <div class="col-md-4">
    
  </div>
  <div class="col-md-8">
    <img src="https://images.pexels.com/photos/460672/pexels-photo-460672.jpeg">
  </div>
</div>
<h3><%= link_to 'Create your own route', new_route_path %></h3>

<div class="container-fluid pt-5 bg-light">
  <div class="container">
  <div class="row">
    <% @routes.each do |route| %>
    <div class="col-md mb-3 br-0">
      <div class="route card">
        <div class="card-body">
          <h3 class="route-title"><%= link_to route.title, route %></h4>
          <p><%= route.description %></p>
          <p>Votes: <%= route.points %></p>
          <%= link_to "View route", route %>
        </div>
      </div> 
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>
