<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<img class="header-img" src=https://images.pexels.com/photos/1172840/pexels-photo-1172840.jpeg />

<% @routes.each do |route| %>
  <div class="route">
    <h4 class="route-title"><%= link_to route.title, route %></h4>
    <p><%= route.description %></p>
    <p>Votes: <%= route.points %></p>
    <%= link_to "View route", route %>
  </div> 
<% end %>

<br>

<%= link_to 'New Route', new_route_path %>
