<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      var route = []
      <%@places.each do |x|%>
        route.push({lat:<%=x.latitude%>, lng:<%=x.longitude%>})
      <%end%>
      initMap(route)
    });
  </script>

<% end %>

<p id="notice"><%= notice %></p>
<div class="container-fluid p-0">
  <div class="row lead">
    <div class="col-md-4">
      <p class="p-3">
        <strong>Votes:</strong>
        <%= @route.points %>
        <% if user_signed_in? && @route.user_id != current_user.id %>
          <%= link_to "Add your vote", upvote_route_path(@route), method: :post, class: 'btn btn-lg btn-outline-dark rounded-0' %>
        <% end %>
      </p>
      <div class="sticky-top mb-5 mx-2 p-3">
        <h1 class="display-2"><u><%= @route.title %></u></h1>
        <p><%= @route.description %></p>
        <br>
        <button type="button" id="get_directions" class="btn btn-lg btn-outline-dark rounded-0">Get Directions</button>
      </div>
    </div>
    <div class="col-md-8">
      <div id="map"></div>
    </div>
  </div>



<div class="pt-5 grey-bg">
  <div class="container">
    <h1 class="display-4 text-center">Stops on this Route</h1>
    <% @places.each do |x| %>
        <div class="row p-4">
          <div class="route card rounded-0 border-0 m-auto p-3" style="max-width: 80%">
            <div class="card-body">
              <h3 class="route-title display-4"><%= x.name %></h3>
              <td><%= x.description %></td>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
