<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      var route = []
      <%@places.each do |x|%>
        route.push({lat:<%=x.latitude%>, lng:<%=x.longitude%>})
      <%end%>
      initMap(route)
    });
  </script>

<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-4">
<div class="jumbatron p-2 ml-2">
<h1 class="display-3"><%= @route.title %></h1>
</div>
</div>

<p>
  <strong>Points:</strong>
  <%= @route.points %>
  <% if @route.user_id != current_user.id %>
    <%= link_to "▲Click here to add your vote", upvote_route_path(@route), method: :post %>
  <% end %>
</p>

<div class="col-md-4">
  <strong>Description:</strong>
  <%= @route.description %>
</div>
<div class="col-md-8">
<button type="button" id="get_directions" class="btn btn-lg btn-outline-dark rounded-0" style="float:right;">Get Directions</button>  

</div>
<p>
    <div id="map"></div>
</p>


<div class="pt-5 grey-bg">
<div class="container">
   <h1 class="display-3">Stops on this Route</h1>
   <% @places.each do |x| %>
      <div class="row p-4">
        <div class="route card rounded-0 border-0 m-auto p-3" style="max-width: 80%">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <h3 class="route-title display-4"><%= x.name %></h3>
              <td><%= x.description %></td>
            </div>
<% end %>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Destroy', route_path(@route), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', routes_path %>
